* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

input {
  border: 1px solid black;
}

button { 
  cursor: pointer;
  border: 1px solid black;
}

td { 
  text-align: center;
  border: 1px solid black;
}

th { 
  border-bottom: 1px solid black;
}

.activityForm { 
  display: flex;
  flex-direction: column;
  width: 30%;
}

 body{ background-color: orange;
}

.navbar {
  display: flex;
}

.navbar_link {
  padding-left: 20px;
}